.web-atoms-notification-popup {
    padding: 5px;
    font-size: larger;
    & .error {
        color: red;
        border-color: red;
    }
    & .warning {
        background-color: lightyellow;
    }
}